<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Willowsoft.Ordering.Core.Properties.Settings.OrderingDevConnectionString"
            connectionString="Data Source=GANDALF\SQLEXPRESS;Initial Catalog=OrderingDev;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>