<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Willowsoft.Ordering.Core.Properties.Settings.OrderingDevConnectionString"
            connectionString="Data Source=GANDALF2\SQLEXPRESS;Initial Catalog=MerchandiseOrdering;Integrated Security=False;User ID=sa;Password=ladybug1995"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>