<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="CompanyName" value="Schmidt's Garden Center" />
    <add key="CompanyAddress" value="1299 NW 29th Street" />
    <add key="CompanyCityStateZip" value="Corvallis, OR 97330" />
    <add key="CompanyPhone" value="541-757-3214" />
    <add key="CompanyFax" value="541-757-0179" />
    <add key="CompanyEmail" value="susan@schmidtsgardencenter.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="OrderingDev"
		 connectionString="Data Source=GANDALF2;Initial Catalog=MerchandiseOrdering;Integrated Security=False;User ID=sa;Password=ladybug1995" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>